body h1 {
  text-align: center;
}
body {
  background-color: #ffffff;
}
.th {
  height: 125px;
  width: 125px;
  background-size: cover;
}
.small {
  height: 75px;
  width: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 2px;
  float: left;
}
